*,
*::before,
*::after{
  box-sizing: border-box;
}

root {
  --clr-main: rgba(97, 95, 95, 1);
  --clr-middle: rgb(97, 95, 95, 0.7);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  margin-bottom: 5px;
}

h3 {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  padding: 5px 0;
}

p {
  padding: 5px 0;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 50px;
  color: #000000;
  border: 1px solid rgb(97, 95, 95);
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(97, 95, 95, 1);
  color: #ffffff;
}

.header ul {
  list-style: none;
}

.personal__info {
  width: 100%;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.subtitle {
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1rem;
}

.socials {
  display: flex;
  justify-content: space-around;
}

.socials__list:last-child {
  width: 60%;
}

.socials__list {
  width: 35%;
  padding: 10px 0;
}

.socials__item {
  padding-bottom: 10px;
  margin: 0 auto;
}

.socials__item::before {
  padding-right: 15px;
  color: inherit;
}

.socials__link:hover {
  letter-spacing: 0.02rem;
  color: #9eadec;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.right__section {
  width: 29%;
}

.left__section {
  width: 69%;
}

.section__wrapper {
  padding: 10px 5px;
}

.section__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.section__title {
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(204, 201, 201);
  transition: all 0.7s ease-in-out;
  text-align: center;
  cursor: context-menu;
  position: relative;
}

.section__title:hover {
  background-color: rgb(150, 150, 150);
}

.section__year {
  padding: 0;
}

.section__position {
  width: 35%;
}

.section__desc {
  width: 60%;
  list-style: disc;
}

.section__place {
  font-weight: 600;
}

.additional__list li,
.skills__list li {
  padding-bottom: 5px;
}

.education__list,
.additional__list {
  padding: 5px 20px;
  list-style: disc;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .personal__info {
    width: 100%;
  }

  .section__item {
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(97, 95, 95);
  }

  .section__position,
  .section__desc {
    width: 100%;
  }

  .section__year {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(97, 95, 95);
    background-color: rgba(97, 95, 95, 0.1);
    border-radius: 4px;
  }

  .education__desc {
    width: 100%;
  }

}