body {
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 50px;
}

header {
  display: flex;
  background-color: rgb(97, 95, 95);
  padding-left: 200px;
  padding-top: 25px;
}

.my_photo {
  width: 209px;
  height: 270px;
  padding-right: 50px;
}

h1 {
  padding-bottom: 10px;
  text-align: center;
}

.social-icon {
  color: inherit;
  margin-right: 25px;
}

.personal__info {
  color: white;
}

.social {
  color: white;
}

h2 {
  background-color: rgb(204, 201, 201);
  display: flex;
}

footer {
  text-align: center;
}

table,
th,
td {
  border: none;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

.language_level {
  list-style-type: none;
}
